body
{
  background: black;
}

#mainpage
{
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	
}


#comingSoon
{
	padding-top: 160px;
	
}

#clickThrough
{
	padding-top: 600px;
	
}

#Pennyroyal
{
	padding-top: 30px;
	
}
